.aboutme {
  padding-top: 8%;
  text-align: left;
  img {
    width: 300px;
    height: 300px;
  }
  #resume{
    h3{
      font-family: 'NothingYouCouldDo';
      color: $primary;
    }
  }
  
}

@media(max-width:768px) {
  .aboutme {
  img {
    width: 250px;
    height: 250px;
  }
  #resume{
    margin-top:25px;
  }
  
  }
}

@media(max-width: 991px) and (min-width: 768px) {
  .aboutme {
    img {
      width: 250px;
      height: 250px;
      transform: translateY(50%);
    }
  }
}

