/* ======================== ABOUT ME ======================== */
#aboutMe{
    height: auto;
    width: 100%;
    background-color: #E4EBEE;
    padding-bottom: 100px;
}
#header-aboutMe{
    text-align: center;
    padding-top: 50px;
}
#container-aboutMe{
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 50px;
}

#photo_aboutMe{
    position: relative;
    background-size: 100% auto;
}
.photo-circle{
    border-radius: 50%;
}
#title-description h4{
    font-family: 'EurostileLTStd-Demi';
    text-align: justify;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 80px;
}
#text-description p{
    font-family: 'EurostileLTStd';
    font-size: 14px;
    text-align: justify;
    padding-left: 100px;
    padding-right: 80px;
}

#btn-goToSkills{
    text-align: center;
    display: inline-block;
    font-family: 'EurostileLTStd-Demi';
    color: #FF9966;
    width: 160px;
    padding: 12px 25px;
    background: #e4ebee;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 100px;
    border-radius:10px;
    border: 2px dotted #FF9966;

}
#btn-goToSkills:hover{
    color: black;
    border: 2px dotted black;
}

/* ======================== EDUCATION ======================== */
#education{
    margin-top: 0px;
    height: auto;
    width: 100%;
    padding-bottom: 100px;
    
}
#header-education{
    text-align: center;
    padding-top: 50px;
}
#container-education{
    text-align: center;
    padding-top: 80px;
}
#rombo{

}
.education-year{
    margin-top: 10px;
}

.name-diploma{
    padding-top: 10px;
}
.school h5{
    text-align: center;
}
.education-text{
    display: none;
    font-family: 'EurostileLTStd';
    font-size: 14px;
    text-align: justify;
    color: black;
    padding-top: 20px;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;

}

/*================== Skills ==================*/
#skills{
    height: auto;
    width: 100%;
    background-color: black;
    padding-bottom: 100px;
}
/*#bg-skills{
    position: absolute;
    left: 0px;
    z-index: -1;
}*/
#header-skills{
    text-align: center;
    padding-top: 50px;
}

#title-skills{
    color: white;
}

#container-skills{

    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
.skills-item{
    padding-right: 50px;
    padding-left: 50px;
}
.skills-title-info{
    color: white;
    margin-left: 0px;
    padding-bottom: 20px;
}
#description-skills{
    font-family: 'EurostileLTStd';
    font-size: 14px;
    text-align: justify;
    color: white;
    margin-top: 40px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;

}
#media-skills-title{
    color: white;
}

.line-skills{
    position: relative;
    height: 5px;
    width: 100%;
    border: 1px solid;
    border-left: none;
    border-right: none;
    color: #FF9966;
    margin-top: -5px;
}
.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px; 
    border: 2px solid #FF9966;
    background-color: #FF9966;
    margin-left: 180px;
    margin-top: -27px;
}
.white{
    border: 2px solid white;
    background-color: white;
}
#circle-two{
    margin-left: 210px;
    margin-top: -20px;
}
#circle-three{
    margin-left: 240px;
    margin-top: -20px;
}
#circle-four{
    margin-left: 270px;
    margin-top: -20px;
}
#circle-five{
    margin-left: 300px;
    margin-top: -20px;
}
/* ======================== PROJECT ======================== */
#project{   
    height: auto;
    width: 100%;
    background-color: #E4EBEE;
    padding-bottom: 100px;
}
/*#bg-project{
    position: absolute;
    left: 0px;
    margin-top: -15px;
    z-index: -1;
}*/
#header-project{
    text-align: center;
    padding-top: 50px;
}

.container-project{
    padding-top: 80px;
}
.prj{
    padding-top: 20px;
}
#title-project{
    color: black;
}

.thumbnail img:hover{
    transform: scale(1.1);
}
.thumbnail img{
    transition: all 0.3s ease 0s;
    width: 100%;
}



/* ======================== LANGUAGES ======================== */
#languages{
    height: auto;
    width: 100%;
    padding-bottom: 100px;
}
#header-languages{
    text-align: center;
    padding-top: 50px;
}

#container-languages{
    padding-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
}
.color-flag{
    display: none;
    text-align: center;
}
.bw-flag{
    text-align: center;
}

.title-lang{
    padding-top: 5%;

}
.lang-desc{
    display: none;
    font-family: 'EurostileLTStd';
    font-size: 16px;
    text-align: center;
    color: black;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

/* ======================== CONTACT ======================== */
#contact{
    height: 100%;
    width: 100%;
    background-color: black;
    padding-bottom: 100px;
}

#header-contact{
    text-align: center;
    padding-top: 50px;
}
#title-contact{
    color: white;
}
#container-contact{
    text-align: center;
    margin-top: 150px;
    margin-right: 80px;
    margin-left: 80px;

}
.text-contact h4{
    color: white;
}

/* ======================== FOOTER ======================== */
Footer{
    background-color: black;
    margin-bottom: 0px;
    min-height: 50px;
    width: 100%; 

}
#copyright{
    font-family: 'EurostileLTStd';
    color: #FF9966;
    font-size: 12px;
    background-color: black;
    padding: 20px;
    text-align: center;
}