/* fonts */
@font-face{
    font-family: 'EurostileLTStd';
    src: url("../font/EurostileLTStd.otf");
}
@font-face{
    font-family: 'EurostileLTStd-Cn';
    src: url("../font/EurostileLTStd-Cn.otf");
}
@font-face{
    font-family: 'EurostileLTStd-Bold';
    src: url("../font/EurostileLTStd-Bold.otf");
}
@font-face{
    font-family: 'EurostileLTStd-BoldCn';
    src: url("../font/EurostileLTStd-BoldCn.otf");
}
@font-face{
    font-family: 'EurostileLTStd-Demi';
    src: url("../font/EurostileLTStd-Demi.otf");
}

@font-face{
    font-family: 'Kelson Sans Bold';
    src: url("../font/Kelson Sans Bold.otf");
}
/* ======================== GENERAL ======================== */
body,html {
  height: 100%;
  width: 100%;
}
h1{
    font-family: 'Kelson Sans Bold';
    font-size: 60px;
    text-align: center;
    color: black;
}
h2{
    font-family: 'EurostileLTStd-Demi';
    font-size: 20px;
    color:#FF9966;
    text-align: center;
}
h4{
    font-family: 'EurostileLTStd-Demi';
    text-align: center;
    color: black;
    line-height:1.5;
}
h5{
    font-family: 'EurostileLTStd-Demi';
    
    margin-left: 10px;
}

.center{
    text-align: center;
}

.row{
    margin: 0;
    /*border: 2px solid red;*/
}

.animated.animate-1{
    animation-delay: 0s;
    animation-duration: 0.5s;
}
.animated.animate-2{
    animation-delay: 0.4s;
    animation-duration: 0.5s;
}
.animated.animate-3{
    animation-delay: 0.8s;
    animation-duration: 0.5s;
}

.animated.animate-4{
    animation-delay: 1.2s;
    animation-duration: 0.5s;
}
/* ======================== NAVBAR ======================== */
.navbar-inverse{
    background-color: black;
    border: none;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #FF9966;
    background-color: #080808;
    font-family: 'EurostileLTStd';
}

/* ======================== HOME ======================== */
#home {
  background: url('../img/home-background.png') no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.section-header {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}


.section-header h1 {
  letter-spacing: 0.1em;
    font-weight: 100;
    font-size: 96px;  
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

}
.section-header h3 {
    letter-spacing: 0.1em;
    font-weight: 100;
    font-family: 'Kelson Sans Bold';
    color: #FF9966;
    font-size: 40px;
    margin: 0;
    padding: 0;

}

a.scroll-arrow {
    font-size: 35px;
    color: white;
    width: 50px;
    line-height: 52px;
    border-radius: 50%;
    height: 50px;
    border: 1px solid white;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.section-header .separator {
    margin: 0em auto 2em;
}

/* ======================== ABOUT ME ======================== */
#aboutMe{
    height: auto;
    width: 100%;
    background-color: #E4EBEE;
    padding-bottom: 100px;
}
#header-aboutMe{
    text-align: center;
    padding-top: 50px;
}
#container-aboutMe{
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 50px;
}

#photo_aboutMe{
    position: relative;
    background-size: 100% auto;
}
.photo-circle{
    border-radius: 50%;
}
#title-description h4{
    font-family: 'EurostileLTStd-Demi';
    text-align: justify;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 80px;
}
#text-description p{
    font-family: 'EurostileLTStd';
    font-size: 14px;
    text-align: justify;
    padding-left: 100px;
    padding-right: 80px;
}

#btn-goToSkills{
    text-align: center;
    display: inline-block;
    font-family: 'EurostileLTStd-Demi';
    color: #FF9966;
    width: 160px;
    padding: 12px 25px;
    background: #e4ebee;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 100px;
    border-radius:10px;
    border: 2px dotted #FF9966;

}
#btn-goToSkills:hover{
    color: black;
    border: 2px dotted black;
}

/* ======================== EDUCATION ======================== */
#education{
    margin-top: 0px;
    height: auto;
    width: 100%;
    padding-bottom: 100px;
    
}
#header-education{
    text-align: center;
    padding-top: 50px;
}
#container-education{
    text-align: center;
    padding-top: 80px;
}
#rombo{

}
.education-year{
    margin-top: 10px;
}

.name-diploma{
    padding-top: 10px;
}
.school h5{
    text-align: center;
}
.education-text{
    display: none;
    font-family: 'EurostileLTStd';
    font-size: 14px;
    text-align: justify;
    color: black;
    padding-top: 20px;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;

}

/*================== Skills ==================*/
#skills{
    height: auto;
    width: 100%;
    background-color: black;
    padding-bottom: 100px;
}
/*#bg-skills{
    position: absolute;
    left: 0px;
    z-index: -1;
}*/
#header-skills{
    text-align: center;
    padding-top: 50px;
}

#title-skills{
    color: white;
}

#container-skills{

    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
.skills-item{
    padding-right: 50px;
    padding-left: 50px;
}
.skills-title-info{
    color: white;
    margin-left: 0px;
    padding-bottom: 20px;
}
#description-skills{
    font-family: 'EurostileLTStd';
    font-size: 14px;
    text-align: justify;
    color: white;
    margin-top: 40px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;

}
#media-skills-title{
    color: white;
}

.line-skills{
    position: relative;
    height: 5px;
    width: 100%;
    border: 1px solid;
    border-left: none;
    border-right: none;
    color: #FF9966;
    margin-top: -5px;
}
.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px; 
    border: 2px solid #FF9966;
    background-color: #FF9966;
    margin-left: 180px;
    margin-top: -27px;
}
.white{
    border: 2px solid white;
    background-color: white;
}
#circle-two{
    margin-left: 210px;
    margin-top: -20px;
}
#circle-three{
    margin-left: 240px;
    margin-top: -20px;
}
#circle-four{
    margin-left: 270px;
    margin-top: -20px;
}
#circle-five{
    margin-left: 300px;
    margin-top: -20px;
}
/* ======================== PROJECT ======================== */
#project{   
    height: auto;
    width: 100%;
    background-color: #E4EBEE;
    padding-bottom: 100px;
}
/*#bg-project{
    position: absolute;
    left: 0px;
    margin-top: -15px;
    z-index: -1;
}*/
#header-project{
    text-align: center;
    padding-top: 50px;
}

.container-project{
    padding-top: 80px;
}
.prj{
    padding-top: 20px;
}
#title-project{
    color: black;
}

.thumbnail img:hover{
    transform: scale(1.1);
}
.thumbnail img{
    transition: all 0.3s ease 0s;
    width: 100%;
}



/* ======================== LANGUAGES ======================== */
#languages{
    height: auto;
    width: 100%;
    padding-bottom: 100px;
}
#header-languages{
    text-align: center;
    padding-top: 50px;
}

#container-languages{
    padding-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
}
.color-flag{
    display: none;
    text-align: center;
}
.bw-flag{
    text-align: center;
}

.title-lang{
    padding-top: 5%;

}
.lang-desc{
    display: none;
    font-family: 'EurostileLTStd';
    font-size: 16px;
    text-align: center;
    color: black;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

/* ======================== CONTACT ======================== */
#contact{
    height: 100%;
    width: 100%;
    background-color: black;
    padding-bottom: 100px;
}

#header-contact{
    text-align: center;
    padding-top: 50px;
}
#title-contact{
    color: white;
}
#container-contact{
    text-align: center;
    margin-top: 150px;
    margin-right: 80px;
    margin-left: 80px;

}
.text-contact h4{
    color: white;
}

/* ======================== FOOTER ======================== */
Footer{
    background-color: black;
    margin-bottom: 0px;
    min-height: 50px;
    width: 100%; 

}
#copyright{
    font-family: 'EurostileLTStd';
    color: #FF9966;
    font-size: 12px;
    background-color: black;
    padding: 20px;
    text-align: center;
}

/* ====================================================== */
/* ======================== MEDIA ======================= */
/* ====================================================== */
@media (max-width: 767px){
    /* ===== GENERAL =====*/
    h1{
        font-size: 40px;
    }
    h4{
        font-size: 16px;
    }
    /* ===== HOME =====*/
    #home{
        background-attachment:scroll;
    }
      .section-header h1 {
        font-size: 60px;
      }
      a.scroll-arrow{
        left: 45%;
      }
    /* ===== ABOUT ME =====*/
    #container-aboutMe {
        padding-left: 0px;
        padding-right: 0px;
    }
    #title-description h4{
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #text-description p{
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #btn-goToSkills {
        margin-left: 30px;
    }
    /* ===== EDUCATION =====*/
    .name-diploma{
        padding-left: 20px;
        padding-right: 20px;
    }
    #education-SAMT{
        padding-top: 20px;
    }
    .education-text{
        padding-left: 20px;
        padding-right: 20px;
    }
    .diploma{
        color:#FF9966;
    }
    /* ===== SKILLS =====*/
    #container-skills {
        padding-left: 20px;
        padding-right: 20px;
    }
    .skills-item{
        padding-left: 0px;
        padding-right: 0px;
    }
    #description-skills{
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* ===== PROJECT =====*/
    .img-prj{
        padding-top: 30px;

    }

    /*===== LANGUAGES =====*/
    .lang-desc{
        padding-bottom: 20px;
    }
        .img-flag{
        height: 50%;
        width: 50%;
    }

    /*===== CONTACT =====*/
    #contact{
        height: auto;
    }
    #container-contact{
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;

    }
    #row-two{
        padding-top: 50px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){
    /* ===== GENERAL =====*/
    #home{
        background-attachment:scroll;
    }
    /*===== ABOUT ME =====*/
    #title-description h4 {
        padding-left: 60px;
        padding-right: 60px;
    }
    #text-description p {
        padding-left: 60px;
        padding-right: 60px;
    }
    #btn-goToSkills {
        margin-left: 55px;
    }

    /*===== EDUCATION =====*/
    #container-education{
        margin-right: 20px;
        margin-left: 20px;
    }

    .education-text {
        padding-left: 10px;
        padding-right: 10px;
    }

    /*===== SKILLS =====*/
    #container-skills{
        padding-left: 15px;
        padding-right: 15px;
    }
    #description-skills{
        margin-top: 5px;
    }

    /*===== LANGUAGES =====*/
    .img-flag{
        height: 50%;
        width: 50%;
    }

    /*===== CONTACT =====*/
    #container-contact {
        margin-top: 300px;
    
    }
}
/* ====================================================== */
/* ======================== MEDIA IPAD AND IPHONE ======================= */
/* ====================================================== */
/* iPad in portrait & landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
        #home{
        background-attachment:scroll;
    }
}

/*iPhone 6 in portrait & landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
        #home{
        background-attachment:scroll;
    }
}

/*iPhone 6 Plus in portrait & landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
        #home{
        background-attachment:scroll;
    }
}

/*iPhone 5 & 5S in portrait & landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
        #home{
        background-attachment:scroll;
    }
}

/*Phone 2G-4S in portrait & landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #home{
        background-attachment:scroll;
    }
}

