/* fonts */
@font-face{
    font-family: 'EurostileLTStd';
    src: url("../font/EurostileLTStd.otf");
}
@font-face{
    font-family: 'EurostileLTStd-Cn';
    src: url("../font/EurostileLTStd-Cn.otf");
}
@font-face{
    font-family: 'EurostileLTStd-Bold';
    src: url("../font/EurostileLTStd-Bold.otf");
}
@font-face{
    font-family: 'EurostileLTStd-BoldCn';
    src: url("../font/EurostileLTStd-BoldCn.otf");
}
@font-face{
    font-family: 'EurostileLTStd-Demi';
    src: url("../font/EurostileLTStd-Demi.otf");
}

@font-face{
    font-family: 'NothingYouCouldDo';
    src: url("../font/NothingYouCouldDo.ttf");
}

body {
  overflow-x: hidden;
  font-family: 'EurostileLTStd';
  background: #f5f5f4;
  color: $grayText;
}

p {
  line-height: 1.75;
  font-family: 'EurostileLTStd'; 
  font-size: 14px;
  text-align: justify;

}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

span{
  color: $primary;
}

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h2.section-heading-light {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: $white;
  }
  h2.section-heading-parallax {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: $primary;
    line-height: 1.6;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
  }
  h3.section-subheading-light {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    color: white;
  }

}

.line{
	border-top: 6px solid $primary;
	max-width: 100px;
    margin: 25px auto;
    border-bottom: none;
}

footer{
  background: #292929;
  #copyright {
      margin-top: 0;
      color: $white;
      font-family: 'EurostileLTStd';
      font-size: 16px;
  }
}

@media(min-width:768px) {
  section {
    padding: 100px 0;
  }
}