#parallax2 {
    /* The image used */
    background-image: url('../img/parallax2.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    div{
    height: 250px;
    }
}

//Photo by Dustin Lee on Unsplash
#parallax3 {
    /* The image used */
    background-image: url('../img/parallax3.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2{
      font-family: 'NothingYouCouldDo';
      color: $gray900;
    }
}

#skills{
  background: #292929;
  .skills-heading {
  h4{
    margin: 15px 0;
    text-transform: none;
    color: white;    
    font-family: 'NothingYouCouldDo';
    font-size: 22px;
  }
  p{
        text-transform: none;
        font-family: 'EurostileLTStd';
        font-size: 16px;
        color: white;
        text-align: center;
    }
  
}

  #skills-carousel{
    .carousel-indicators{
      >li {
        background-color: $grayText;
        top: 50px;
      }
      .active{
          background-color: $primary;
        }
    }
    .carousel-control-prev, .carousel-control-next{
      color: $grayText;
      width: 0;
    }
  }
}

.fa-stack{
	position:unset !important;
}

/* ====================================================== */
/* ======================== MEDIA IPAD AND IPHONE ======================= */
/* ====================================================== */
/* iPad in portrait & landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    #parallax2 {
        background-attachment:scroll;
    }
    #parallax3 {
        background-attachment:scroll;
    }
}

/*iPhone 6 in portrait & landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    #parallax2 {
        background-attachment:scroll;
    }
    #parallax3 {
        background-attachment:scroll;
    }
}

/*iPhone 6 Plus in portrait & landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
    #parallax2 {
        background-attachment:scroll;
    }
    #parallax3 {
        background-attachment:scroll;
    }
}

/*iPhone 5 & 5S in portrait & landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    #parallax2 {
        background-attachment:scroll;
    }
    #parallax3 {
        background-attachment:scroll;
    }
}

/*Phone 2G-4S in portrait & landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #parallax2 {
        background-attachment:scroll;
    }
    #parallax3 {
        background-attachment:scroll;
    }
}

