// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray: #212529 !default;
$gray200: #e9ecef !default;
$gray900: #212529 !default;

$black: #000 !default;
$grayText: #666 !default;

$primary: #f25b00 !default;

